@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 1.2rem;
  }

  .section {
    display: flex;
    padding: 1rem;
    gap: 1rem;
  }
}
